@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;500&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Cairo',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,sans-serif;
  font-size: 16px;
  background-color: #111;
  color: white
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.home > * {
  border-bottom: 1px solid #333;
}

h1 {
  margin: 0;
  text-shadow: 0px 0px 20px #ffffff88;
}

.flex {
  display: flex;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.view {
  font-family: inherit;
  display: block;
  padding: 0.6rem 1.5rem;
  font-size: inherit;
  border-radius: 14px;
  border: 1px solid white;
  background-color: inherit;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.view:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 22px -0px #ffffffcc;
}

@media screen and (min-width: 786px) {
  body {
    font-size: 1.1rem;
  }
  h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1000px;
  }

  h1 {
    font-size: 2.5rem;
  }
}

