.container {
    color: white;
    background-color: #222;
}

.contact {
    padding: 1.5rem;
    text-align: center;
}

.contact h1 {
    margin: 0;
    font-size: 1.5rem;
}

.contact h1:not(:first-child) {
    margin-top: 2rem;
}

.contact a {
    display: block;
}

.by {
    display: flex;
    justify-content: center;
}

.by a {
    text-decoration: underline;
}