.longL {
    display: flex;
    flex-direction: column;
    font-family: 'Cairo',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,sans-serif;
}

.longL > div {
    padding: 1.5rem;
}

.pic-desc {
    display: flex;
    justify-content: center;
}