.nav-container {
    width: 100%;
    padding: 1rem 0;
    position: fixed;
    z-index: 99999;
    background-color: #111;
    top: 0;
    transition: transform 0.3s, height 0.3s;
}

.nav-menu {
    display: flex;
    flex-direction: column;
}

.nav-menu ul {
    padding: 0;
    margin: 0;
}

.nav-menu ul li {
    list-style: none;
    text-align: center;
    padding: 0.5rem 0;
}


.nav-container .hamburger {
    margin-left: auto;
}

.hamburger div {
    width: 1.8rem;
    height: 0.1rem;
    margin: 0.4rem;
    background-color: #fdfdfd;
}

@media screen and (min-width: 786px) {
    .hamburger {
        display: none;
    }

    .nav-menu {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-menu ul {
        display: flex;
    }
    .nav-menu ul li {
        padding: 0 2rem 0;
    }
}