.nav-container {
    display: flex;
    width: 100%;
    padding: 1rem;
    position: fixed;
    z-index: 99999;
    top: 0;
    background-color: #00000072;
}

.nav-container .logo{
    color: #fdfdfd;
}

.nav-container .hamburger {
    margin-left: auto;
}

.hamburger div {
    width: 1.8rem;
    height: 0.1rem;
    margin: 0.4rem;
    background-color: #fdfdfd;
}