.background {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10rem 0;
    align-items: center;
    background: center url("../../../public/lighting_over_esc.jpg");
    background-size: cover;
}

.subscribe {
    z-index: 1;
    width: 100%;
    border: none;
    padding: 2rem 2rem;
    background-color: #000000bb;
    color: white;
    font-size: 1rem;
    box-shadow: 2px 2px 16px #ffffff26;
}

.subscribe h2 {
    margin:0;
}

.form {
    display: flex;
}

.form input {
    border-radius: 12px 0 0 12px;
    width: 75%;
    border: 2px solid white;
    padding: 1rem;
}

.submit {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    padding: 0.5rem;
    width: 25%;
}

@media screen and (min-width: 786px) {
    .subscribe {
        padding: 5rem 2rem;
    }
}