.background {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.newsletter-form {
    z-index: 1;
    width: 100%;
    border: 1px solid #333;
    padding: 8rem 1rem;
    color: white;
    font-size: 1rem;
}

.newsletter-form h2 {
    margin:0;
}

.input-area {
    display: flex;
    flex-direction: column;
}
/* TODO: FIX THE NEWSLETTER ON MOBILE*/
.input-area input {
    border-radius: 12px;
    width: 100%;
    border: 2px solid white;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
}



@media screen and (min-width: 786px) {
    .input-area {
        flex-direction: row;
    }

    .input-area input {
        width: 75%;
        border-radius: 12px 0 0 12px;
        text-align: left;
        margin-bottom: 0;
    }

    .submit {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
        width: 25%;
    }

    .newsletter-form {
        width: 75%;
        padding: 5rem 10rem;
    }
}