.pic-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 3rem auto;
}

.reverse {
    flex-direction: column-reverse;
}


.pic-container {
    position: relative;
    height: 40vh;
    width: 100%;
}


.desc {
    margin-bottom: 2rem;
    padding: 1rem 0.1rem;
    text-align: justify;
}

.desc h1, .desc h2, .desc h3 {
    margin: 0 auto;
}

@media screen and (min-width: 786px) {
    
    .desc h1, .desc h2, .desc h3 {
        border-bottom: 1px solid #333;
    }
    
    .pic-desc {
        margin: 5rem auto;
    }
    
    .pic-container {
        height: 75vh;
    }
    
    
    .view {
        margin: 2rem auto;
    }
}


@media screen and (min-width: 1000px) {
    .desc {
        width: 50%;
        padding: 3rem;
    }
    .pic-container {
        width: 50%;
        height: 75vh;
    }
    .pic-desc{
        flex-direction: row;
    }
    
    .reverse {
        flex-direction: row-reverse;
    }
}
/* .pic-desc {
    display: flex;
    justify-content: center;
} */