.pic-desc {
    display: flex;
    flex-direction: column;
}


.pic-container {
    position: relative;
    height: 40vh;
}


.desc {
    margin-bottom: 2rem;
    padding: 1rem;
}

.desc h1, .desc h2, .desc h3 {
    margin: 0 auto;
}

/* .pic-desc {
    display: flex;
    justify-content: center;
} */